<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarForm</title>
</head>
<body>
    <h2>Select Car</h2>

    <form method="POST" action="{% url 'result' %}">
        {% csrf_token %}
        <label>Manufacturer:</label>
        {{ form.manufacturer }} <br><br>

        <label>Model:</label>
        {{form.model}} <br><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>